.place__paragraphs{
    width: 18em;
    grid-area: paragraphs;
    display: grid;
    grid-template-rows: repeat(2.1fr);
    gap: 7px;
    grid-gap: 30px;
}

@media screen and (min-width:768px) {
    .place__paragraphs{
        max-height: 300px;
    }
}