.place__paragraphs{
    width: 288px;
    grid-area: paragraphs;
  
}

@media screen and (min-width:768px) {
    .place__paragraphs{
        width: 352px;
        max-height: 460px;
    }
}

@media screen and (min-width:1280px) {
    .place__paragraphs{
        width: 484px; 
    }

}