.cover__subtitle{
    font-size: 18px;
    line-height: 22px;
    font-weight: 600;
    text-align: center;
    z-index: 3;
}

@media screen and (min-width:768px) {
    .cover__subtitle{
        font-weight: 400;
        font-size: 14px;
        line-height: 16px;
    }
}