.place{
    display: grid;
    justify-items: center;
    grid-template-areas:
    "title"
    "website"
    "article"
    ;
    row-gap: 30px;
}




@media screen and (min-width:768px) {
    .place{
        width: 720px;
        grid-template-areas: 
        "title website"
        "article article"
        ;
        justify-items: flex-start;
        row-gap: 24px;
    }
}

@media screen and (min-width:1280px) {
    .place{
        width: 984px;
        row-gap: 48px;
    }
    .place:nth-last-of-type(2n + 1) {
        padding: 32px 0 0;
    }
    
}