.logo__image{
    width: 1.5rem;
    height: 1.635rem;
}

@media screen and (min-width:580px) {
    .logo__image{
        width: 1.8rem;
        height: 1.8rem;
    }
}
@media screen and (min-width:768px) {
    .logo__image{
        width: 2em;
        height: 2em;
    }
}
