.footer__author{
    text-align: center;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
}

@media screen and (min-width:786px) {
    .footer__author{
        line-height: 16px;
    }
}
