.cover__content{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    padding: 47px 0 0 ;
}

@media screen and (min-width:580px) {
    .cover__content{
        padding: 110px 0 0;
        gap: 26px;
    }
}

@media screen and (min-width:768px) {
    .cover__content{
        gap: 32px;
        padding: 246px 0 0;
    }
}


