.place__image{
    width: 18rem;
    grid-area: image;
}

@media screen and (min-width:580px)
{
    .place__image{
        width: 20rem;
    }
}
@media screen and (min-width:768px) {
    .place__image{
        width: 21.25rem;
        align-self: flex-start;
    }
}
@media screen and (min-width:1280px) {
    .place__image{
        width: 460px;
    }
}