.cover__title{
    font-weight: 900;
    font-size: 32px;
    line-height: 35px;
    z-index: 2;
}


@media screen and (min-width:580px) {
    .cover__title{
        font-weight: 900;
        font-size: 72px;
        line-height: 76px;
    }
}

