.cover{
    width: 100%;
    height: 254px;
    margin: 64px 0 0;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;
    background-image: url(/images/Meadow-fullhd.png);
    background-position: center;
    background-size: cover;
    position: relative;
    z-index: 0;
}

@media screen and (min-width:580px) {
    .cover{
        height: 450px;
    }
} 

@media screen and (min-width:980px) {
    .cover{
        width: 860px;
        height: 550px;
    }
} 

@media screen and (min-width:1184px) {
    .cover{
        width: 1184px;
        height: 748px;
    }
}