.button{
    width: 18em;
    padding: 15px 0;
    background:#0278FE;
    border-radius: 4px;
    grid-area: button;
    display: flex;
    justify-content: center;
}

.button:hover {
    background: #0063D2;
}

@media screen and (min-width:768px) {
    .button{
        width: 329px;
        padding: 13px 13px;
    }
}