.cover__title{
    font-weight: bold;
    font-size: 32px;
    line-height: 35px;
    text-align: center;
    z-index: 3;
}

@media screen and (min-width:768px) {
    .cover__title{
        font-weight: 900;
        font-size: 72px;
        line-height: 76px;
    }
}