.places{
    padding: 62px 0 0;
    display: flex;
    flex-direction: column;
    row-gap: 22px;
}


@media screen and (min-width:768px) {
    .places{
        padding: 88px 0 0;
        row-gap: 68px;
    }
}
@media screen and (min-width:1280px) {
    .places{
        padding: 92px 0 0;
    }
}
