.cover__button{
    width: 198px;
    height: 22px;
    padding: 15px 0;
    background:#0278FE;
    border-radius: 4px;
    grid-area: button;
    text-align: center;
    z-index: 3;
}

.cover__button:hover {
    background: #0063D2;
}



 