.place__paragraph{
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
        
} 

@media screen and (min-width:1280px) {
    .place__paragraph{
        font-size: 18px;
        line-height: 29.34px;
    }
}


