.place__website{
    width: 18rem;
    grid-area: website;
    display: flex;
    flex-direction: column;
}

@media screen and (min-width:768px) {
    .place__website{
        justify-content: end;
    }
}

@media screen and (min-width:1280px) {
    .place__website{
        width: 28.5rem;
        justify-content: end;
    }
}

